
@model LoginViewModel

<div>
    <h1>Přihlášení<h1>

            <div class="form-signin w-100 m-auto">
                    <form class="d-flex flex-column gap-2" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input asp-for="RememberMe" class="form-check-input">
                            <label asp-for="RememberMe" class="form-check-label"></label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">Přihlásit se</button>
                        </div>
                    <a asp-action="SignInClick" asp-route-returnUrl="@ViewData["ReturnUrl"]">Registrace</a>
                    </form>
                </div>
            
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
