@{
    ViewData["Title"] = "Dračí Doupě - Deník postavy";
}


<div class="d-grid gap-2 col-12 mx-auto">
    <form asp-controller="Home" asp-action="LoginClick" method="post">
        <button class="btn btn-primary btn-lg" type="submit">Přihlásit se</button>
    </form>
    <form asp-controller="Home" asp-action="SignInClick" method="post">
        <button class="btn btn-primary btn-lg" type="submit">Zaregistrovat se</button>
    </form>
</div>